[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-celery = "==3.3.1"
djangorestframework = "==3.12.1"
spotipy = "==2.16.0"
django-cors-headers = "==3.5.0"
amqp = "==1.4.9"
anyjson = "==0.3.3"
asgiref = "==3.2.10"
billiard = "==3.3.0.23"
celery = "==3.1.26.post2"
kombu = "==3.0.37"
pytz = "==2020.1"
requests = "==2.24.0"
sqlparse = "==0.4.1"
Django = "==3.1.2"
Pillow = "==8.0.0"

[requires]
python_version = "3.8"
